<?php $jsonviewerid = uniqid(); ?>
<pre id="<?= $jsonviewerid ?>json-renderer"></pre>
<script>
var data = <?= $value ?>;

$('#<?= $jsonviewerid ?>json-renderer').jsonViewer(data, {rootCollapsable: <?=($root_collapsable ? 'true' : 'false')?> , collapsed: <?=($collapsed ? 'true' : 'false')?>, withQuotes: <?=($with_quotes ? 'true' : 'false')?>, withLinks: <?=($with_links ? 'true' : 'false')?>});
</script>